<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xxx.rpms.mapper.Menu_EmployeeMapper" >
  <resultMap id="BaseResultMap" type="cn.xxx.rpms.domain.Menu_Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="eid" property="eid" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from menu_employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.xxx.rpms.domain.Menu_Employee" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into menu_employee (id, mid, eid)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{eid,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.xxx.rpms.domain.Menu_Employee" >
    update menu_employee
    set mid = #{mid,jdbcType=BIGINT},
      eid = #{eid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, mid, eid
    from menu_employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, mid, eid
    from menu_employee
  </select>
  <select id="selectByEid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, mid, eid
    from menu_employee
    where eid = #{eid,jdbcType=BIGINT}
  </select>
</mapper>